{% extends 'interview/nav.html' %}

{% block header %}

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Mock Interview - Dashboard</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/dashboard.css' %}">
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    <script src="https://kit.fontawesome.com/1a12d6fc49.js" crossorigin="anonymous"></script>
</head>
{% endblock %}

{% block content %}
<main>
    <div id="previous-practice" class="white-background">
        <div class="section-title">Previous Practices</div>
        <table>
            <thead>
                <tr>
                    <th>Question List</th>
                    <th>Practice Date</th>
                    <th>Language</th>
                    <th>Vocal</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td><button class="cell-button">Leadership 10</button></td>
                    <td>3/2/2024</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>

                </tr>
                <tr>
                    <td><button class="cell-button">Teamwork 10</button></td>
                    <td>2/20/2024</td>
                    <td>7</td>
                    <td>8</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td><button class="cell-button">Decision-making 10</button></td>
                    <td>2/10/2024</td>
                    <td>7</td>
                    <td>8</td>
                    <td>6</td>
                </tr>

            </tbody>
        </table>

    </div>

    <div id="question-bank" class="white-background">
        <div class="section-title">Question Bank</div>

        <body>

            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Tab1')" id="defaultOpen">Leadership 10</button>
                <button class="tablinks" onclick="openTab(event, 'Tab2')">Teamwork 10</button>
                <button class="tablinks" onclick="openTab(event, 'Tab3')">Decision-making 10</button>
                <button class="tablinks" onclick="openTab(event, 'Tab4')">Behavioral 10</button>
                <button class="tablinks" onclick="openTab(event, 'Tab5')">Conflict Management 10</button>
            </div>

            <div id="Tab1" class="tabcontent tab-content-active">
                <ul>
                    <li><a>1. What is your process for delegating tasks to employees you manage?</a></li>
                    <li><a>2. How do you typically respond to criticism?</a></li>
                    <li><a>3. Is it easy for you to influence others?</a></li>
                </ul>
            </div>

            <div id="Tab2" class="tabcontent">

                <ul>
                    <li><a>1. Give me an example of working as team to complete a project.</a></li>
                    <li><a>2. How do you typically respond to different voices within the team?</a></li>
                    <li><a>3. Is it easy for you to collaborate with others?</a></li>
                </ul>
            </div>

            <div id="Tab3" class="tabcontent">
                <ul>
                    <li><a>1. What's your thought process when you make decission?</a></li>
                    <li><a>2. How do you deal with pressure when making big decisions?</a></li>
                    <li><a>3. Is it easy for you to make a quick decision?</a></li>
                </ul>
            </div>

            <div id="Tab4" class="tabcontent">

                <ul>
                    <li><a>1. Give me an example how you handle a tight deadline and conflicted schedules.</a></li>
                    <li><a>2. How do you deal with conflicts between your stakeholders?</a></li>

                </ul>
            </div>

            <div id="Tab5" class="tabcontent">

                <ul>
                    <li><a>1. Give me an example how you manage conflicts.</a></li>
                    <li><a>2. How do you work with people who just tend to easily have conflicts with you?</a></li>

                </ul>
            </div>

            <script>
                // Function to switch between tabs
                function openTab(evt, tabName) {
                    // Hide all tab contents
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }

                    // Deactivate all tab links
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }

                    // Show the selected tab content and mark the button as active
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Open the default tab on page load
                document.getElementById("defaultOpen").click();
            </script>
    </div>
</main>