{% extends 'interview/nav.html' %}

{% block header %}
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>hint page</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/interviewsummary.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/nav.css' %}">
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
{% endblock %}

{% block content %}
<main>
    <p>Hint message here.</p>
    <a href="/interview/{{ interview_id }}/question_index1/">begin interview link</a>

</main>
{% endblock %}