<!-- interview_questions.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Questions</title>
</head>
<body>
    <h1>Interview Questions</h1>
    <ul>
        {% for question in interview_questions %}
            <li><strong>Question Text:</strong> {{ question.question_id.question_text }}</li>
            <li><strong>User answer:</strong>{{ question.user_answer }}</li>
            <li><strong>Access answer:</strong>{{ question.access_answer }}</li>

        {% endfor %}
    </ul>
</body>
</html>
