{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block header %}
{% endblock %}

<body>
<nav>
    <div id="navContainer">
        <img src="{% static 'interview/images/Logo.svg' %}" alt="Company Logo" id="companyLogo"/>
        <ul id="navBar">
            <li class="navMenu"><a href="{% url 'interview:landing_page' %}" class="nav-menu-color">Home</a></li>
            <li class="navMenu"><a href="{% url 'interview:landing_page' %}" class="nav-menu-color">Mock Interview</a></li>
            {#--summary临时用--#}
            <li class="navMenu"><a href="{% url 'interview:dashboard_main' %}" class="nav-menu-color">Dashboard</a></li>
            {#--summary临时用--#}
            <li class="navMenu"><a href="{% url 'interview:career_intro' %}" class="nav-menu-color">Career Path Builder</a></li>
            <li class="navMenu"><a href="{% url 'interview:track_intro' %}" class="nav-menu-color">Smart Tracking</a></li>
            {% if user.is_authenticated %}
	            <li class="navMenu"><a href="{% url 'interview:logout' %}" class="nav-menu-color" id="logoutButton">Logout</a></li>
            {% else %}
                <li class="navMenu"><a href="{% url 'interview:login' %}" id="loginButton">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>