{% extends 'interview/nav.html' %}

{% block header %}
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Job Tracker</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="{% static "interview/css/track_intro.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/nav.css' %}">
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
{% endblock %}

{% block content %}

<main>


    <div id="WordLeftIMGRight">

        <div id="bigWordAtTheTop">
            <div id="firstWord">Smarter and Simpler job application<br>
                - All in one place
            </div>

            <div id="secondWord">Our AI engine helps you organize and prioritize your saved jobs and remind you to keep
                on track. We also help you tailor your resumes and CVs
            </div>

            <div id="interviewButtonContainer">
                <div id="interviewButton">
                    <a href="{% url 'interview:track_intro' %}">Start Tracking</a>
                </div>
            </div>
        </div>

        <div id="bigImage">
            <img src="{% static "interview/images/track_table.png" %}" alt="Five people are cheering for something"/>
        </div>

    </div>

    <div id="PPPWord">
        <div id="PPPBigWord">Take the Stress Out of Your Job Search
        </div>
    </div>

    <div id="WordRightIMGLeft">
        <div id="imageTwo">
            <img src="{% static "interview/images/track_img2.jpg" %}" alt="A laptop with someone's hands typing on it."/>
        </div>

        <div id="trackFeatures">
            <div>
                <span>Application Tracker</span> - Never lose track of job postings, application status, notes, and
                more.
                <br><br><span>Strategic Ranking</span> - Prioritize your applications based on smart criteria like fit
                and preferences. 
                <br><br><span>Resume Optimization</span> - Create tailored resumes that match the job description for
                better chances.
                <br><br><span>Reminders & Alerts</span> - Never miss a due date with automated reminders and follow-ups.
            </div>
        </div>
    </div>





</main>

{% endblock %}