body {
    font-family: 'Tahoma', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color:#3f302a;
}

/*Nav Bar*/
 
 nav{
height:4.6875rem;
top:0;
left:0;
right:0;
border-bottom: 2px solid #7e5f50;
position: fixed;
z-index: 1;
display: inline;
background-color: #ffffff;
  }

#navContainer{
   width: 100%;
   margin:auto;/*center the NavContainer*/
  }

  #companyLogo{
height: 3.125rem;
width:auto;
margin-left:2.5rem;
margin-top:1.5625rem;
  }

  #navBar{
    float: right;
    margin-top:2.5rem;
  }

  .navMenu{
    display: inline-block;
    margin-right:2.5rem;
    color:#7e5f50;
    font-size: 1rem;
  }

  #navContainer a{
    text-decoration: none;
    color:#7E5F50;
  }


/* Main */

main{
    position: relative;
    top:4.8125rem;
    z-index: 0;
    width: 100%;
    margin:auto;
}
  
.transparentContainerBox{
    width:62.5%;
    height:auto;
    margin:auto;  
    
    position: relative; 
    top: 30px; 

    background: white; 

    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.06); 
    border-radius: 12px;
}
  
#summary{
  padding-bottom: 50px;
}

.theBrownVerticalDecoBar{
  font-size: 1.5rem;
  line-height: 1.3;
  color:#7E5F50;
  font-weight:700;

  position: relative;
  left:50px;
  top:30px;
  
  height:auto;
  border-left: 7px #7E5F50 solid;
  padding-left: 10px;
  }

  .summaryContent p{
  width:80%;
  padding:50px;
  font-size:1rem;
  line-height: 1.5;
  position: relative;
  left:20px;
  }




  
