@font-face {
  font-family: 'Britannia'; /* Give your font a name */
  src: url('../fonts/Britannia CG Bold Regular.otf') format('opentype'); /* Specify the font file path */
  /* You can also include additional font formats for better browser compatibility */
}


body {
    font-family: 'Tahoma', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color:black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*Nav Bar*/

 nav{
height:4.6875rem;
top:0;
left:0;
right:0;
border-bottom: 2px solid #7e5f50;
position: fixed;
z-index: 1;
display: inline;
background-color: #ffffff;
  }

#navContainer{
   width: 100%;
   margin:auto;/*center the NavContainer*/
  }

  #companyLogo{
height: 3.125rem;
width:auto;
margin-left:2.5rem;
margin-top:1.5625rem;
  }

  #navBar{
    float: right;
    margin-top:2.5rem;
  }

  .navMenu{
    display: inline-block;
    margin-right:2.5rem;
    color:#7e5f50;
    font-size: 1rem;
  }

  #navContainer a{
    text-decoration: none;
    color:#7E5F50;
  }

/* Main */

main{
    position: relative;
    top:77px;
    z-index: 0;
    width: 100%;
    margin:auto;

}

/*Big Words at the TOP*/

#WordLeftIMGRight{
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align vertically */
  justify-content: space-between;
  margin: 0; /* Remove margin */
  padding: 0;
  width: 100%;
}

#bigWordAtTheTop{
  display:block;
  width: 40%;
}

#interviewButtonContainer{
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align vertically */
  justify-content: center;
  margin-left:15%;
  margin-right:15%;
  margin-bottom: 0;
  margin-top: 10%;
}

#bigImage{
  order:2;
  width:60%;
  padding: 3%;
}

#bigImage img{
  width:100%;
  height:auto;
  max-width: 100%;
}

#firstWord{
  font-size: 2rem;
  color:#7E5F50;
  font-weight: bold;
  font-family: sans-serif;
  padding: 20px 0;
  margin-left:19%;
  margin-right: 14%;
  margin-bottom: 5%;
  margin-top: 0;

}

#secondWord{
  margin-left:19%;
  margin-right: 14%;
}


  /*Interview Now Button*/

  #interviewButton a{
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 16px 26px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
  }

  #interviewButton a{
    background-color:#7E5F50;
    border: 1px solid #7E5F50;
    color:white;
    box-shadow: 0 4px 4px, rgba(0, 0, 0, 0.25);
  }

  #interviewButton:hover a{
    background-color: rgba(126,95,80,0.93);
    border:1px solid rgba(126,95,80,0.93);
    text-decoration: none;
    transition-duration: 0.1s;
    color:#ffffff;
  }

  /*Set width of the content*/
  #PPPWord{
width:70%;
margin-right: auto;
margin-left: auto;
  }

  #PPPWord{
    margin-top:5%;
    margin-bottom:5%;
    display:block;
  }

  #PPPBigWord, #PPPLittleWord{
    text-align: center;
    color: #7E5F50;
  }

  #PPPBigWord{
    font-weight: bold;
    font-size: 2.25rem;
    padding: 20px;
  }

  #PPPLittleWord{
    font-size: 1.25rem;
    font-weight: 500;
  }


  #WordRightIMGLeft{
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center align vertically */
    justify-content: space-between;
    margin: 0; /* Remove margin */
    padding: 0;
    width: 100%;
  }

  #imageTwo{
    width: 65%;
  }

  #imageTwo img{
    width: 100%;
    padding:2%;
  }

  #trackFeatures{
    order:2;
    color: #7E5F50;
    width: 30%;
    display:block;
    margin:8%;
    font-size: 1.25rem;
  }

  #trackFeatures span{
    font-weight: bold;
  }

  @media only screen and (min-width: 1500px){
    #firstWord{
      font-size: 2.5rem;
    }

    #secondWord{
      font-size: 1.25rem;
    }

    #interviewButton a{
      font-size: 1.5rem;
    }

    #PPPBigWord{
      font-size: 2.8rem;
    }

    #PPPLittleWord{
      font-size: 1.5rem;
    }
  }