{% extends 'interview/nav.html' %}

{% block header %}

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Customize Your Interview</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/interviewsetup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/nav.css' %}">
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
{% endblock %}

{% block content %}

<main>
    <section>
        <section id="question-list">
            <h3>Select a Question List to Start Practice!</h3>
            <div class="list">
                <div class="list-title">Top 10 Behavioral Questions</div>
                <img />
            </div>
            <div>
                <div>
                    <div class="list">
                        <div class="list-title">Teamwork Questions</div>
                        <img />
                    </div>
                    <div class="list">
                        <div class="list-title">Leadership Questions</div>
                        <img />
                    </div>
                </div>
                <div>
                    <div class="list">
                        <div class="list-title">Communication Questions</div>
                        <img />
                    </div>
                    <div class="list">
                        <div class="list-title">Decision-making Questions</div>
                        <img />
                    </div>
                </div>
            </div>

        </section>

        <section id="or">
            <p>OR</p>
        </section>

        <section id="question-based-on-resume">
            <h3>Generate Interview Questions Based on Your Resume</h3>
            <button>Upload Resume</button>
        </section>
    </section>

    <section>
        <button>Start Practice</button>
    </section>
</main>

{% endblock %}