{% extends 'interview/nav.html' %}

{% block header %}
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Career Path Builder - Interests</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/career-builder-interests.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interview/css/nav.css' %}">
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    <script src="https://kit.fontawesome.com/1a12d6fc49.js" crossorigin="anonymous"></script>
</head>
{% endblock %}

{% block content %}

<main>
    <section id="sideNavContainer">
        <p id="sidemenu-background"><i class="fa-regular fa-circle-check" id="first-icon"></i>Background</p>
        <p id="sidemenu-interests"><i class="fa-regular fa-circle-check" id="second-icon"></i>Interests</p>
        <p id="sidemenu-preferences"><i class="fa-regular fa-circle-check" id="third-icon"></i>Preferences</p>
        <p id="sidemenu-personality"><i class="fa-regular fa-circle-check" id="forth-icon"></i>Personality</p>
    </section>

    <section id="mainContent">
        <div id="tell-us-about-yourself-container">
            <div class="theBrownVerticalDecoBar">
                <div id="tell-us-about-yourself">Tell us about yourself, we will gather your information and provide
                    career track recommendations based on your answer.
                </div>
            </div>
        </div>

        <div id="select-interests" class="transparentContainerBox">
            <div id="select-interests-inner-container">
                <h1 id="title-interests">Interests</h1>
                <p>Select five at most:</p>
                <div id="nine-options-container">
                    <div id="nine-options">
                        <div class="one-lane">
                            <button class="option-button">Big Tech</button>
                            <button class="option-button">Consumer Brand</button>
                            <button class="option-button">Environment</button>
                        </div>
                        <div class="one-lane">
                            <button class="option-button">Startup</button>
                            <button class="option-button">Consulting</button>
                            <button class="option-button">Politics</button>
                        </div>
                        <div class="one-lane">
                            <button class="option-button">Investment</button>
                            <button class="option-button">Arts</button>
                            <button class="option-button">Healthcare</button>
                        </div>
                        <div class="one-lane">
                            <button class="option-button">AI</button>
                            <button class="option-button">Education</button>
                            <button class="option-button">Social Work</button>
                        </div>
                    </div>
                </div>
                <div id="form">
                    <label for="other-interests">What you are interested are not listed? You can type it
                        here:<br></label>
                    <input type="text" id="other-interests" name="other-interests" maxlength="200">
                </div>

            </div>
            <script>
                // Get a collection of elements with the class "option-button"
                const buttons = document.getElementsByClassName("option-button");

                // Loop through each button and add a click event listener
                for (let i = 0; i < buttons.length; i++) {
                    buttons[i].addEventListener("click", function () {
                        // Add a class to change the style after it's clicked
                        this.classList.add("clicked");
                        this.disabled = true;
                    });
                }
            </script>

        </div>
        <div id="next-button-container">
            <a href="{% url 'interview:career_preferences' %}" id="next-button-two" class="submit-button">Next<i
                    class="fa-regular fa-circle-right"></i></a>
        </div>
    </section>


</main>

{% endblock %}